.ventures {
    height: auto; 
    display: flex;
}

.severus-cont {
    background: black;
    height: 28em;
    width: 50%;
    color: white;
    padding-top: 4em;
    padding-bottom: 3em;
}

.venture1 {
    background: blue;
    height: auto;
    width: 50%;
}

.visit-site {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: orange;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2.7em;
}

.visit-site:hover {
    background: #ffa500bf;
    color: white;
}
    
.severus-paragraph{
    text-align: justify;
    margin-left: 3.4em;
    margin-right: 3em;
}

.squaredFin-cont {
    background: black;
    height: auto;
    width: 50%;
    color: white;
    padding-top: 4em;
    padding-bottom: 3em;
}

.venture2 {
    background: blue;
    height: auto;
    width: 50%;
}

.squaredFin-paragraph {
    text-align: justify; 
    margin-left: 3.4em;
    margin-right: 3em;
}

.myGrowth-cont {
    background: black;
    height: auto;
    width: 50%;
    color: white;
    padding-top: 4em;
    padding-bottom: 3em;
}

.venture3 {
    background: blue;
    height: auto;
    width: 50%;
}

.myGrowth-paragraph {
    text-align: justify; 
    margin-left: 3.4em;
    margin-right: 3em;
}

.speaker {
    display: flex;
    width: 87%;
    margin: auto;
    background: black;
    gap: 5em;
    height: auto;
    padding-top: 6em;
    padding-bottom: 6em; 
}

.speaker-img1 {
    height: 23.4em;
    width: 42em;
    background: #ddddcb;
}

.speaker-img2 {
    height: 20em;
    width: 37em;
    background: #524e4b;
    margin-bottom: 1.5rem;
}

.book-adewale {
    text-decoration: none;
    color: white;
    background: orange;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-right: 2.5em;
}

.keynote-talks {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid orange;
    color: white;
}

.keynote-talks:hover {
    color: white;
    background: orange;
}

.book-adewale:hover {
    background: #ffa500bf;
    color: white;

}

.entrepreneur-img1 {
    height: 20em;
    width: 41em;
    background: #815681;
    margin-bottom: 1.5em;
}

.sect1 {
    padding-bottom: 5em;
    padding-top: 5em;
    background: #140414;
}

.sect2 {
    padding-top: 3em;
    padding-bottom: 3em;
    background: #0e0d0d;
}

.sector1 {
    height: auto; 
    width: 89%; 
    margin: auto; 
    display: flex; 
    gap: 4em;
} 

.sector2 {
  height: auto;
  width: 89%;
  margin: auto; 
  display: flex; 
  gap: 4em;
}

.award {
    height: auto;
    width: 25em;
    background: beige;
}

.award-img1 {
    height: 12em;
    background: white;
}

.award-img2 {
    height: 12em;
    background: orange;
}

.award-img3 {
    height: 12em;
    background: #815681;
}

.award-details {
    height: 10em;
    background: black;
}

.recent {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.4rem;
    margin-bottom: 0px;
    font-family: Adamina !important;
}

.recent-child {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: orange;
    margin-bottom: 3em;
}

.speaker-paragraph1 {
    text-align: justify;
}

.speaker-paragraph2 {
    text-align: justify;
}

.career-pic1 {
    height: 25em;
    background: #6b91c7;
    margin-top: 30px;
}

.career-sect1 {
    padding-bottom: 3em;
    padding-top: 3em;
    background: #020e0d;
}

.career-sect2 {
    background: black;
    height: auto;
    font-family: Adamina !important;
    padding-top: 3em;
    padding-bottom: 4em;
}

.career-cont {
    display: flex; 
    height: auto; 
    gap: 1em;
    width: 90%;
    margin: auto;
    font-family: Adamina !important;
}

.book {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: Adamina !important;
}

.book::after {
    content: "";
    position: absolute;
    height: 4px;
    background: orange;
    width: 6%;
    left: 0;
    bottom: -17px;
    margin-left: 15.9em;
}

.book-cont {
    width: 72%;
    display: flex;
    margin: auto;
    padding-top: 5em;
    gap: 2em;
    height: auto;
}

.bk1 {
    height: auto;
    background: #202020; 
    padding-top: 16px;
    padding-bottom: 20px;
}

.bk2 {
    height: auto;
    background: #202020; 
    padding-top: 16px;
    padding-bottom: 20px;
}

.book-img1 {
    height: 15em;
    width: 32.5em;
    background: #b1afa8;
    margin-bottom: 20px;
}

.book-img2 {
    height: 15em;
    width: 32.5em;
    background: #90a58e;
    margin-bottom: 20px;
}

.book-h6 {
    margin-bottom: 20px;
    color: orange;
    font-size: 18px;
    font-weight: bold;
}

.buy-link {
    text-decoration: none;
    padding: 10px 22px;
    background: orange;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.buy-link:hover {
    background: #d78e07;
    color: white;
}

.ade {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 123px;
    font-family: Adamina !important;
}

.ade::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 37.3%;
    left: 0;
    bottom: 5px;
    margin-left: 2.2em;
    z-index: -1;
}


.vent {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 117px;
    font-family: Adamina !important;
}

.vent::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 24.3%;
    left: 0;
    bottom: 5px;
    margin-left: 2.2em;
    z-index: -1;
}

.spik {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 126px;
    font-family: Adamina !important;
}

.spik::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 21%;
    left: 0;
    bottom: 5px;
    margin-left: 2.2em;
    z-index: -1;
}

.ent {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 123px;
    font-family: Adamina !important;
}

.ent::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 37%;
    left: 0;
    bottom: 5px;
    margin-left: 2.2em;
    z-index: -1;
}

.car {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 123px;
    font-family: Adamina !important;
}

.car::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 18%;
    left: 0;
    bottom: 2px;
    margin-left: 2.2em;
    z-index: -1;
}

.keynote-pic1 {
    background: #384f70 !important;
}

.keynote-pic2 {
    height: 26em !important;
    background: #958b8a !important;
}


.keynote-sect1 {
    background: black;
     height: auto;
     padding-bottom: 4em;
    padding-top: 4em;
}

.keynote-cont {
    gap: 2.3em !important;
    height: auto !important;
    padding-top: 1em;
}

.keynote-link1 {
    padding: 10px 20px;
    background: orange;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    font-family: Adamina !important;
}

.keynote-link1:hover {
    background: #d78e07;
    color: white;
}

.keynote-link2 {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 1px solid orange;
    font-family: Adamina !important;
}

.keynote-link2:hover {
    background: orange;
    color: white;
}

.leadT {
    position: relative;
}

.leadT::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 4px;
    background: orange;
    left: 0;
    bottom: -18px;
}

.keynote-pic3 {
    height: 24.5em !important;
    background: #07181a !important;
}

.leadT-1 {
    position: relative;
}

.leadT-1::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 4px;
    background: orange;
    left: 0;
    top: 50px;
}

.keynote-pic4 {
    height: 24.5em !important;
    background: #275156 !important;
}

.kT {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 123px;
    font-family: Adamina !important;
}

.kT::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 37.5%;
    left: 0;
    bottom: 5px;
    margin-left: 2.2em;
    z-index: -1;
}

.ment {
    position: relative;
    font-weight: bold;
    padding-top: 1em;
    color: white;
    z-index: 1;
    font-size: 55px;
    padding-top: 8.6em;
    padding-left: 123px;
    font-family: Adamina !important;
}

.ment::after {
    content: "";
    position: absolute;
    height: 34px;
    background: orange;
    width: 29.2%;
    left: 0;
    bottom: 4px;
    margin-left: 2.2em;
    z-index: -1;
}

.menti {
    background-color: #0e0c0c;
    font-family: Adamina !important;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.mentor-link1 {
    padding: 10px 20px;
    background: orange;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    font-family: Adamina !important;
}

.mentor-link1:hover {
    background: #d78e07;
    color: white;
}

.mentor-link2 {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 1px solid orange;
    font-family: Adamina !important;
}

.mentor-link2:hover {
    background: orange;
    color: white;
}

.mentor-pic1 {
    height: 20.5em;
    background: hsl(58deg 14% 39%);
    margin-top: 3em;
}

.mentor-cont {
    display: flex; 
    gap: 3em;
    width: 90%;
    margin: auto;
    font-family: Adamina !important;
}

.mentor-img1 {
    background: url(../img/mentor1.jpg);
    background-size: cover;
    height: 40em;
}
