.ventures {
    height: 28em; 
    display: flex;
}

.severus-cont {
    background: black;
    height: 28em;
    width: 115em;
    color: white;
}

.venture1 {
    background: blue;
    height: 28em;
    width: 115em;
}

.visit-site {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: orange;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2.7em;
}

.severus-paragraph{
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
}

.squaredFin-cont {
    background: black;
    height: 28em;
    width: 115em;
    color: white;
}

.venture2 {
    background: blue;
    height: 28em;
    width: 115em;
}

.squaredFin-paragraph {
    text-align: justify; 
    margin-left: 3em;
    margin-right: 3em;
}

.myGrowth-cont {
    background: black;
    height: 28em;
    width: 115em;
    color: white;
}

.venture3 {
    background: blue;
    height: 28em;
    width: 115em;
}

.myGrowth-paragraph {
    text-align: justify; 
    margin-left: 3em;
    margin-right: 3em;
}

.speaker {
    display: flex;
    width: 87%;
    margin: auto;
    background: black;
    gap: 40px;
    height: 56em;
    padding-top: 4em; 
}

.speaker-img1 {
    height: 21.5em;
    width: 35em;
    background: #ddddcb;
}

.speaker-img2 {
    height: 20em;
    width: 35em;
    background: #524e4b;
    margin-bottom: 1.5rem;
}

.book-adewale {
    text-decoration: none;
    color: white;
    background: orange;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-right: 2.5em;
}

.keynote-talks {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid orange;
    color: white;
}

.keynote-talks:hover {
    color: white;
    background: orange;
}

.book-adewale:hover {
    background: #ffa500bf;
    color: white;

}

    