* {
    padding: 0px;
    margin: 0px;
}

.main_body {
    height: auto;
}

header {
    background-color: #000;
    height: 650px;
}

.main_body_content_header_nav_bg {
    background-color: transparent !important;
}

.main_body_content_header_nav_button {
    background-color: #fff !important;
}

.main_body_content_header_nav_ul_li_a {
    padding: 15px 25px !important;
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.main_body_content_header_nav_ul_li_button_a {
    padding: 15px 25px !important;
    color: orange !important;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.main_body_content_header_nav_ul_li_button_a:hover {
    
}

.main_body_content_header_nav_ul_li_a_font {
    color: orange;
}