* {
  padding: 0px;
  margin: 0px;
}
.main_body {
  height: auto;
}
.main_body .main_body_content .contact_img {
  background-image: url(../img/needle-g3e6a46177_1920.jpeg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
  animation: change 0.3s ease-in-out;
  transition: 0.5s ease-in-out;
}
.main_body .main_body_content .article_img {
  background-image: url(../img/workplace-g040d7c842_1920.jpeg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
}
.main_body .main_body_content .main_contact_body {
  height: auto;
  background-color: #212121;
  padding: 80px 0px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_first_step {
  margin-bottom: 30px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_first_step .main_contact_body_left_first_step_h1 {
  color: #fff;
  font-size: 20px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_first_step .main_contact_body_left_first_step_p {
  color: orange;
  font-size: 15px;
  margin-bottom: 0px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_second_step {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 30px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_second_step .main_contact_body_left_second_step_p {
  margin-bottom: 0px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_third_step {
  color: #fff;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_third_step .main_contact_body_left_third_step_h1 {
  font-size: 20px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_third_step .main_contact_body_left_third_step_p {
  font-size: 15px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_fourth_step ul {
  color: #fff;
  list-style: none;
  padding: 0px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_fourth_step ul li {
  display: inline-block;
  font-size: 25px;
  padding-right: 10px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_left .main_contact_body_left_fourth_step ul li a {
  color: #fff;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right {
  background-color: #0f0f0f;
  height: auto;
  padding: 40px 40px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .row_row {
  margin-bottom: 20px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .row .col .input_input {
  background-color: #fff !important;
  padding: 13px 10px;
  border: none;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .form_casual_p {
  color: #fff;
  margin: 20px 0px;
  font-size: 15px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .form_casual_p .form_casual_p_span {
  display: inline-block;
  color: orange;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form ul {
  list-style: none;
  color: #fff;
  padding: 0px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 15px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .button_parent {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .button_parent a {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid orange;
  padding: 10px 20px;
  transition: color 2s;
  transition: border 2s;
}
.main_body .main_body_content .main_contact_body .container .row .main_contact_body_right form .button_parent a:hover {
  color: red;
  border: 1px dotted red;
}
.main_body .main_body_content .main_article_body {
  height: auto;
  background-color: #fff;
  padding: 80px 0px;
}
.main_body .main_body_content .main_article_body .container .col_parent {
  background-color: #000;
}
.main_body .main_body_content .main_article_body .container .col_parent .row .col-md-5 .main_article_body_container_col_parent_col_md_5_img {
  background-image: url(../img/book-gadb5e68f1_1920.jpeg);
  height: 250px;
  background-size: 100% auto;
}
.main_body .main_body_content .main_article_body .container .col_parent .row .col-md-7 {
  padding: 55px 20px;
}
.main_body .main_body_content .main_article_body .container .col_parent .row .col-md-7 .main_article_body_container_col_parent_col_md_7_h1 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}
.main_body .main_body_content .main_article_body .container .col_parent .row .col-md-7 .main_article_body_container_col_parent_col_md_7_p {
  font-size: 13px;
  color: #fff;
}
.main_body .main_body_content .main_article_body .container .col_parent .row .col-md-7 .main_article_body_container_col_parent_col_md_7_a_parent {
  margin-top: 30px;
}
.main_body .main_body_content .main_article_body .container .col_parent .row .col-md-7 .main_article_body_container_col_parent_col_md_7_a_parent .main_article_body_container_col_parent_col_md_7_a {
  text-decoration: none;
  font-size: 13px;
  padding: 10px 20px;
  background-color: #e8e8e8;
  color: #000;
}
.main_body .main_body_content .main_article_body .second_section {
  margin-top: 50px;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_article_body .second_section .container .row .col-md-4 .card .card-body .card-title {
  color: orange;
}
.main_body .main_body_content .main_article_body .second_section .container .row .col-md-4 .card .card-body .card-text {
  margin: 20px 0px;
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
  color: #919191;
}
.main_body .main_body_content .main_article_body .second_section .container .row .col-md-4 .card .card-body i {
  font-size: 12px;
  color: #919191;
}
.main_body .main_body_content .main_article_body .second_section .container .row .col-md-4 .card .card-body a {
  text-decoration: none;
}
.main_body .main_body_content .article_read_more {
  height: auto;
  padding: 80px 0px;
}
.main_body .main_body_content .article_read_more .container .previous_parent {
  text-align: right;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  padding: 10px 0px;
}
.main_body .main_body_content .article_read_more .container .previous_parent .previous_parent_p {
  margin-bottom: 0px;
}
.main_body .main_body_content .article_read_more .container .previous_parent .previous_parent_p .previous_parent_p_a {
  text-decoration: none;
  color: orange;
}
.main_body .main_body_content .article_read_more .container .content_content {
  padding: 50px 0px;
  color: #fff;
}
.main_body .main_body_content .article_read_more .container .content_content .content_content_h1 {
  text-transform: uppercase;
  font-size: 20px;
}
.main_body .main_body_content .article_read_more .container .content_content .content_content_p {
  font-size: 15px;
  margin: 30px 0px;
  line-height: 30px;
  text-align: justify;
}
.main_body .main_body_content .article_read_more .container .row {
  background-color: #fff;
  padding: 30px;
}
.main_body .main_body_content .article_read_more .container .row .col .parent_left h1 {
  font-size: 25px;
}
.main_body .main_body_content .article_read_more .container .row .col .parent_right {
  text-align: right;
}
.main_body .main_body_content .article_read_more .container .row .col .parent_right ul {
  list-style: none;
}
.main_body .main_body_content .article_read_more .container .row .col .parent_right ul li {
  display: inline-block;
  margin-left: 15px;
}
.main_body .main_body_content .article_read_more .container .row .col .parent_right ul li i {
  font-size: 20px;
  cursor: pointer;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 {
  position: relative;
  padding: 0px !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1:hover .overlay_1 {
  bottom: 0;
  height: 85%;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1:hover .main_body_content_first_section_container_container_h1 {
  animation: heartBeat;
  animation-duration: 2s;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 .image {
  display: block;
  width: 100%;
  height: auto;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 .main_body_content_first_section_img_1 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 .main_body_content_first_section_img_1 .main_body_content_first_section_container_container_h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 .overlay_1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
  top: 0;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 .overlay_1 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_1 .overlay_1 .text .overlay_1_text_p {
  width: 100%;
  padding: 20px 20px 20px 25px;
  font-size: 18px;
  text-align: justify;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 {
  position: relative;
  padding: 0px !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2:hover .overlay_2 {
  height: 85%;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2:hover .main_body_content_first_section_container_container_h1 {
  animation: heartBeat;
  animation-duration: 2s;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 .image {
  display: block;
  width: 100%;
  height: auto;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 .main_body_content_first_section_img_2 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 .main_body_content_first_section_img_2 .main_body_content_first_section_container_container_h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 .overlay_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 .overlay_2 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_2 .overlay_2 .text .overlay_2_text_p {
  width: 100%;
  padding: 20px 20px 20px 25px;
  font-size: 18px;
  text-align: justify;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 {
  position: relative;
  padding: 0px !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3:hover .overlay_3 {
  top: 0;
  height: 85%;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3:hover .main_body_content_first_section_container_container_h1 {
  animation: heartBeat;
  animation-duration: 2s;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 .image {
  display: block;
  width: 100%;
  height: auto;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 .main_body_content_first_section_img_3 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 .main_body_content_first_section_img_3 .main_body_content_first_section_container_container_h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 .overlay_3 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
  top: 0;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 .overlay_3 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_3 .overlay_3 .text .overlay_3_text_p {
  width: 100%;
  padding: 20px 20px 20px 25px;
  font-size: 18px;
  text-align: justify;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 {
  position: relative;
  padding: 0px !important;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4:hover .overlay_4 {
  height: 85%;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4:hover .main_body_content_first_section_container_container_h1 {
  animation: heartBeat;
  animation-duration: 2s;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 .image {
  display: block;
  width: 100%;
  height: auto;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 .main_body_content_first_section_img_4 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 .main_body_content_first_section_img_4 .main_body_content_first_section_container_container_h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 .overlay_4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 .overlay_4 .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main_body .main_body_content .main_body_content_first_section .main_body_content_first_section_container_container .row .col_4 .overlay_4 .text .overlay_4_text_p {
  width: 100%;
  padding: 20px 20px 20px 25px;
  font-size: 18px;
  text-align: justify;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_second_section {
  padding: 80px 0px 60px 0px;
}
.main_body .main_body_content .main_body_content_second_section:hover .main_body_content_second_section_left_col_h1 {
  animation: bounce;
  animation-duration: 3s;
}
.main_body .main_body_content .main_body_content_second_section:hover .main_body_content_second_section_left_col_p_2 {
  animation: fadeInLeft;
  animation-duration: 2s;
}
.main_body .main_body_content .main_body_content_second_section .row .main_body_content_second_section_left_col {
  width: 50%;
  padding: 80px 50px 50px 150px;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_second_section .row .main_body_content_second_section_left_col .main_body_content_second_section_left_col_h1 {
  text-align: right;
  text-transform: uppercase;
  color: red;
  font-size: 40px;
  font-weight: 600;
}
.main_body .main_body_content .main_body_content_second_section .row .main_body_content_second_section_left_col .main_body_content_second_section_left_col_p {
  font-size: 25px;
  line-height: 90px;
  text-align: justify;
}
.main_body .main_body_content .main_body_content_second_section .row .main_body_content_second_section_left_col .main_body_content_second_section_left_col_p_2 {
  font-size: 20px;
  color: red;
  text-align: right;
}
.main_body .main_body_content .main_body_content_second_section .row .main_body_content_second_section_right_col {
  width: 50%;
}
.main_body .main_body_content .main_body_content_second_section .row .main_body_content_second_section_right_col .main_body_content_second_section_right_col_img {
  height: 600px;
}
.main_body .main_body_content .main_body_content_third_section:hover .main_body_content_third_section_h1 {
  animation: fadeInTopRight;
  animation-duration: 2s;
}
.main_body .main_body_content .main_body_content_third_section .row .main_body_content_third_section_h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding: 40px 0px 0px 0px;
}
.main_body .main_body_content .main_body_content_third_section .row .col {
  padding: 0px !important;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_1 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_1 .main_body_content_third_section_icon_col_h1_parent {
  padding: 130px 0px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_1 .main_body_content_third_section_icon_col_h1_parent:hover .main_body_content_third_section_icon_col_h1 {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_1 .main_body_content_third_section_icon_col_h1_parent .main_body_content_third_section_icon_col_h1 {
  --h: 1.2em;
  line-height: var(--h);
  color: #fff;
  overflow: hidden;
  text-shadow: 0 var(--_t, var(--h)) #fff, 0 0 var(--_c, #000);
  background: linear-gradient(orange 0 0) bottom / 100% var(--_d, 0) no-repeat;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 0;
  cursor: pointer;
  padding: 0 0.1em;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_2 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_2 .main_body_content_third_section_icon_col_h1_parent {
  padding: 130px 0px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_2 .main_body_content_third_section_icon_col_h1_parent:hover .main_body_content_third_section_icon_col_h1 {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_2 .main_body_content_third_section_icon_col_h1_parent .main_body_content_third_section_icon_col_h1 {
  --h: 1.2em;
  line-height: var(--h);
  color: #fff;
  overflow: hidden;
  text-shadow: 0 var(--_t, var(--h)) #fff, 0 0 var(--_c, #000);
  background: linear-gradient(red 0 0) bottom / 100% var(--_d, 0) no-repeat;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 0;
  cursor: pointer;
  padding: 0 0.1em;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_3 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_3 .main_body_content_third_section_icon_col_h1_parent {
  padding: 130px 0px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_3 .main_body_content_third_section_icon_col_h1_parent:hover .main_body_content_third_section_icon_col_h1 {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_3 .main_body_content_third_section_icon_col_h1_parent .main_body_content_third_section_icon_col_h1 {
  --h: 1.2em;
  line-height: var(--h);
  color: #fff;
  overflow: hidden;
  text-shadow: 0 var(--_t, var(--h)) #fff, 0 0 var(--_c, #000);
  background: linear-gradient(orange 0 0) bottom / 100% var(--_d, 0) no-repeat;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 0;
  cursor: pointer;
  padding: 0 0.1em;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_4 {
  background-image: url("../img/Keynote-Speaker.jpeg");
  height: 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_4 .main_body_content_third_section_icon_col_h1_parent {
  padding: 130px 0px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_4 .main_body_content_third_section_icon_col_h1_parent:hover .main_body_content_third_section_icon_col_h1 {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}
.main_body .main_body_content .main_body_content_third_section .row .col .main_body_content_third_section_img_4 .main_body_content_third_section_icon_col_h1_parent .main_body_content_third_section_icon_col_h1 {
  --h: 1.2em;
  line-height: var(--h);
  color: #fff;
  overflow: hidden;
  text-shadow: 0 var(--_t, var(--h)) #fff, 0 0 var(--_c, #000);
  background: linear-gradient(red 0 0) bottom / 100% var(--_d, 0) no-repeat;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0;
  cursor: pointer;
  padding: 0 0.1em;
}
.main_body .main_body_content .main_body_content_third_section .row .main_body_content_third_section_icon {
  text-align: center;
  font-size: 50px;
  color: red;
  margin-bottom: 20px;
}
.main_body .main_body_content .main_body_content_fourth_section .main_body_content_fourth_section_img {
  border-radius: 100%;
  height: 150px;
}
.main_body .main_body_content .main_body_content_fifth_section {
  background-image: url(../img/moon-1859616_1920.jpeg);
  height: 500px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_body .main_body_content .main_body_content_fifth_section .main_body_content_fifth_section_content_parent {
  text-align: center;
  padding: 180px 0px;
}
.main_body .main_body_content .main_body_content_fifth_section .main_body_content_fifth_section_content_parent:hover .main_body_content_fifth_section_h1 {
  color: orange;
}
.main_body .main_body_content .main_body_content_fifth_section .main_body_content_fifth_section_content_parent:hover .main_body_content_fifth_section_button {
  background-color: red;
}
.main_body .main_body_content .main_body_content_fifth_section .main_body_content_fifth_section_content_parent .main_body_content_fifth_section_h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  transition: 2s ease, transform 2s;
  font-family: Adamina !important;
}
.main_body .main_body_content .main_body_content_fifth_section .main_body_content_fifth_section_content_parent .main_body_content_fifth_section_h1 .main_body_content_fifth_section_h1_span {
  display: inline-block;
  color: red;
}
.main_body .main_body_content .main_body_content_fifth_section .main_body_content_fifth_section_content_parent .main_body_content_fifth_section_button {
  font-size: 20px;
  color: #fff;
  background-color: orange;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 10px;
  transition: 2s ease, transform 2s;
}
.main_body .main_body_content .main_body_content_six_section {
  background-color: #fde6b3;
  padding: 50px 0px;
  height: 650px;
}
.main_body .main_body_content .main_body_content_six_section .main_body_content_six_section_h1 {
  font-size: 2.6em;
  color: #f3582e;
  width: 70%;
  margin: auto;
  letter-spacing: 4px;
  font-family: Adamina !important;
  line-height: 60px;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_insta_icon_parent {
  padding: 0px !important;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_insta_icon {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #a15ddd;
  font-size: 50px;
  display: inline-block;
  width: 100%;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_twit_icon {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #2aa1f2;
  font-size: 50px;
  display: inline-block;
  width: 100%;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_face_icon {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: blue;
  font-size: 50px;
  display: inline-block;
  width: 100%;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_linked_icon {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #0a66c2;
  font-size: 50px;
  display: inline-block;
  width: 100%;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_youtu_icon {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #f23d2e;
  font-size: 50px;
  display: inline-block;
  width: 100%;
}
.main_body .main_body_content .main_body_content_seven_section .row .main_body_content_seven_section_tele_icon {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #2288cc;
  font-size: 50px;
  display: inline-block;
  width: 100%;
}
.main_body .main_body_content .testimonial-slider .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #dc3545;
  border-radius: 100%;
}
.main_body .main_body_content .testimonial-slider {
  padding: 10px 0px 40px;
}
.custom_modal {
  height: auto;
  font-family: Adamina !important;
}
.custom_modal .custom_modal_child {
  margin: 70px auto;
}
.custom_modal .custom_modal_child .no-gutters .col-md-6 h5 {
  font-size: 25px;
  font-family: Adamina !important;
}
.custom_modal .custom_modal_child .no-gutters .col-md-6 h3 {
  font-family: Adamina !important;
}
.custom_modal .custom_modal_child .no-gutters .col-md-6 textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 120px;
}
.article_read_more_body {
  background-color: #000;
}
